<div>
    <h3 class="display-4">
        Principal Investigator (PI)
    </h3>
    <hr class="my-4">

    <ul class="list-group d-flex flex-row flex-column align-items-stretch flex-grow-1 justify-content-center">

        <li class="list-group-item">
            <div class="field-name">
                Title
            </div>
            <input name="5title" type="text" />
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Name
            </div> <input name="5name" type="text" /> </label>
        </li>


        <li class="list-group-item">

            <div class="field-name">
                Sex
            </div>
            <div class="form-check">
                <input name="5male" class="form-check-input" type="radio" name="sex" value="Male" required>
                <label class="form-check-label" for=""> Male </label>
            </div>
            <div class="form-check">
                <input name="5female" class="form-check-input" type="radio" name="sex" value="Female">
                <label class="form-check-label" for=""> Female</label>
            </div>
        </li>



        <li class="list-group-item">
            <div class="field-name">
                Full Official Address
            </div>
            <div class="form-check">
                <textarea name="5address"></textarea> </div>
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Mobile
            </div>
            <div class="form-check">
                <input name="5mobile" type="text" />
            </div>
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Telephone
            </div>
            <div class="form-check">
                <input name="5telephone" type="tel" />
            </div>
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Fax
            </div>
            <div class="form-check">
                <input name="5fax" type="text" />
            </div>
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Email
            </div> <input name="5" type="email" />
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Position
            </div>
            <div class="form-check">
                <input name="5position" type="text" />
            </div>
        </li>



        <li class="list-group-item">
            <div class="field-name">
                Date of birth
            </div>
            <div class="form-check">
                <input name="5dob" type="date" />
            </div>
        </li>



        <li class="list-group-item">
            <div class="field-name">
                Highest Degree University/Institute
            </div>
            <div class="form-check">
                <textarea type="text"> </textarea>
            </div>
        </li>


        <li class="list-group-item">
            <div class="field-name">
                Total time to be devoted to project (in many months per year)
            </div>
            <div class="form-check">
                <input name="5devotedtime" type="number" min="0" />
            </div>

        </li>


    </ul>

    </label>
</div>