<div class="heading-secondary">

    <h3>General area of the proposed research (Please &#x2713 the subject area)</h3>

</div>

<hr class="my-4">

<div class="model-form-data">


   <style>
   ul{
    list-style-type:circle;
   }

   ul li input{
       transform:translateY(1%);
   }
   ul li > label {
  display: flex;
  flex-flow: column-reverse;
}

   
   </style>

<style>

ul li > label {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  align-items: center;
  flex-flow: row-reverse;
  width: 100%;
}

ul li label > input[type="checkbox"] {
  width: initial;
}
  
</style>
            {{form3.subjects}}
    
</div>