     <div >
       <h3 class="display-4">General area of the proposed research (Please &#x2713 the subject area)</h3>
             <hr class="my-4">

<form>
                 {{form3.as_ul}}

             {% comment %} <ul class="list-group d-flex flex-row align-items-stretch justify-content-stretch">
               
               {% for subject in section3 %}
              <li class="list-group-item">
                <label for=""><input type="checkbox" name="3"|add:{{subject}}> {{subject}}</label>
              </li>
              
                {% endfor %}    {% endcomment %}
          </ul>

     </div>