<div>
    <h3>
        Proposed budget:
    </h3>
    <table class="table">
        <thead>

            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">Budget items</th>
                <th colspan="3" style="text-align:center;">Amount requested in Rs.</th>
            </tr>


            <tr>
                <th scope="col">1st year </th>
                <th scope="col">2nd year </th>
                <th scope="col">3rd year </th>
            </tr>


        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </tbody>
    </table>
</div>