* {
    color: #fff;
}

body {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    width: 80vw;
    box-sizing: content-box;
    margin: auto;
}

.main-heading {
    width: 40%;
    border: 2px double rgba(245, 245, 245, 0.836);
    border-radius: 30%;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: inherit;
    padding: 1%;
    display: inline-block;
}

section {
    padding: 10%;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 63px 0px rgba(0, 0, 0, 0.75);
}

section .heading-secondary h3 {
    text-align: center;
    color: rgb(207, 205, 66);
}

.model-form-data {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-items: stretch;
}

.model-form-data input,
input:focus-within {
    border: none;
    width: 100%;
    overflow: visible;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.model-form-data:focus {
    padding-bottom: 4%;
}

.model-form-data input:invalid {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid red;
    content: "*required";
    color: "red"
}

.big-form-submit {
    text-align: center;
}

.big-form-submit input {
    position: fixed;
    transform: translateX(-40px);
    bottom: 20px;
}

.section5 ul:has(input[type="radio"]) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}